.veja-mais {
	margin-top: 40px;
}
.veja-mais a {
	font-size: 1.3rem;
}
.depoimento {
	margin-top: 5rem;
	font-size: 1.3rem;
}
.lista-adocao {
	margin-bottom: 40px;
}
.lista-adocao h2 {
	text-align: left;
}